langchain
langchain-openai
dotenv
ipykernel
langchain-google-genai
langchain-anthropic
streamlit
langchain_ollama
langchain-groq	
langchain-community
langgraph
pypdf
flask
beautifulsoup4
Wikipedia-API
langchain_text_splitters
langchain-chroma
pydantic
fastapi
uvicorn